<div class="site-title">
    <a href="/"><h1>Gingotts Wizarding Bank</h1></a>
    <h3><%= name %></h3>
</div>
<div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/history">History</a></li>
        </ul>
    </nav>
</div>