<!DOCTYPE html>
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/nav')%>

    <div class="about content">
        <h2>Useful info about our website</h2>
    </div>

    <%- include('./partials/footer') %> 
</body>
</html>